body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #191765;
  min-width: 375px;
  max-width: 756px;
  margin: 20px;
}

nav {
  width: 375px;
  height: 60px;
}

nav svg {
  float: right;
}

a {
  font-weight: 500;
  font-size: 18px;
  align-items: center;
}

h1 {
  width: 327px;
  height: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

h2 {
  width: 327px;
  height: 87px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #edecff;
  text-align: center;
  padding-top: 40px;
}

.support p {
  width: 327px;
  height: 170px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #c8c8d4;
  border-bottom: 1px solid #646369;
}

.frame {
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  width: 303px;
  height: 462.15px;
  border-bottom: 1px solid #646369;
}

.skills {
  position: relative;
  margin-left: -340px;
  margin-top: 200px;
}

span {
  width: 107px;
  height: 16px;
  font-size: 12px;
  font-weight: 500;
  color: #9490ff;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 200px;
  height: 104px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.media-svg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  margin-top: 50px;
  margin-left: 40px;
}

.vertical {
  position: absolute;
  margin-left: -6px;
  margin-top: 130px;
}

.fresh {
  position: absolute;
  margin-top: 140px;
  margin-left: -6px;
}

.social-media p {
  position: absolute;
  margin-left: 120px;
  margin-top: 130px;
  width: 47px;
  height: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #a2a3ae;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  color: #f5f5ff;
  font-weight: 400;
  font-size: 15px;
  width: 96.75px;
  height: 14.33px;
  margin-top: 12px;
}

.recent_work {
  font-family: 'Roboto', sans-serif;
  width: 327px;
  height: 204px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #9490FF;
  margin-top: 90px;
  border-bottom: 1px solid #646369;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.place-holder1{
  margin-top: 60px;
  width: 327px;
  height: 236px;
  color: #F9F9F9;
}

h3{
  width: 327px;
  height: 105px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.stories p{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #DCDCE8;
}

.Tags{
  margin-top: 50px;
}

.Tags li{
  display: inline;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-right: 1px solid#646369;
}

.Tags span{
  display: inline;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-right: 1px solid #191765;
  color: white;
}

#special-b{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  background: #7D73FC;
  margin-top: 70px;
}

.holder1{
  position: absolute;
  width: 160px;
  height: 160px;
  left: -20px;
  top: 0;
  filter: blur(5px);
}

.holder2{
  position: absolute;
  width: 68px;
  height: 68px;
  left: 356px;
  top: 495px;
  filter: blur(-50px);
}

.holder3{
  position: absolute;
  width: 200.61px;
  height: 482.57px;
  left: 1.04px;
  top: 1624.71px;
  transform: rotate(-5.38deg);
}

.holder4{
  position: absolute;
  width: 180.28px;
  height: 270.6px;
  left: 250.27px;
  top: 2450.23px;
  transform: rotate(1.40deg);
}

.holder5{
  position: absolute;
  width: 308px;
  height: 200px;
  left: -93px;
  top: 3300px;
}

.holder6{
  position: absolute;
  width: 191.29px;
  height: 377.04px;
  left: 240.22px;
  top: 4050px;
}