@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");



html{
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #191765;
  min-width: 375px;
  max-width: 756px;
  margin: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

nav {
  width: 375px;
  height: 60px;
}

nav svg {
  float: right;
}

a {
  font-weight: 500;
  font-size: 18px;
  align-items: center;
}

h1 {
  width: 327px;
  height: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

h2 {
  width: 327px;
  height: 87px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #edecff;
  text-align: center;
  padding-top: 40px;
}

.support p {
  width: 327px;
  height: 170px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #c8c8d4;
  border-bottom: 1px solid #646369;
}

.frame {
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  width: 303px;
  height: 462.15px;
  border-bottom: 1px solid #646369;
}

.skills {
  position: relative;
  margin-left: -340px;
  margin-top: 200px;
}

span {
  width: 107px;
  height: 16px;
  font-size: 12px;
  font-weight: 500;
  color: #9490ff;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 200px;
  height: 104px;
  flex: none;
  flex-grow: 0;
}

.media-svg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  margin-top: 50px;
  margin-left: 40px;
}

.vertical {
  position: absolute;
  margin-left: -6px;
  margin-top: 130px;
}

.fresh {
  position: absolute;
  margin-top: 140px;
  margin-left: -6px;
}

.social-media p {
  position: absolute;
  margin-left: 120px;
  margin-top: 130px;
  width: 47px;
  height: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #a2a3ae;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  color: #f5f5ff;
  font-weight: 400;
  font-size: 15px;
  width: 96.75px;
  height: 14.33px;
  margin-top: 12px;
}

.recent_work {
  font-family: 'Roboto', sans-serif;
  width: 327px;
  height: 204px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #9490ff;
  margin-top: 90px;
  border-bottom: 1px solid #646369;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.place-holder1 {
  margin-top: 60px;
  width: 327px;
  height: 236px;
  color: #f9f9f9;
}

h3 {
  width: 327px;
  height: 105px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #fff;
}

.stories p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #dcdce8;
  width: 327px;
}

.Tags {
  margin-top: 50px;
}

.Tags ul li:nth-child(1),
.Tags ul li:nth-child(2),
.Tags ul li:nth-child(3) {
  float: left;
  align-items: center;
  padding: 10px 12px;
  width: 60px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-right: 1px solid#646369;
}

.Tags ul li:nth-child(4) {
  float: left;
  align-items: center;
  padding: 10px 12px;
  width: 40px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
}

.Tags span {
  display: inline;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-right: 1px solid #191765;
  color: white;
}

#special-c {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  background: #7d73fc;
  margin-top: 70px;
}

#special-d {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  background: #7d73fc;
  margin-top: 70px;
}

#special-f{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  background: #7d73fc;
  margin-top: 70px;
}

#special-y{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  background: #7d73fc;
  margin-top: 70px;
}

.holder1 {
  position: absolute;
  width: 160px;
  height: 160px;
  left: -20px;
  top: 0;
  filter: blur(5px);
}

.holder2 {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 356px;
  top: 495px;
  filter: blur(-50px);
}

.holder3 {
  position: absolute;
  width: 200.61px;
  height: 482.57px;
  left: 1.04px;
  top: 1624.71px;
  transform: rotate(-5.38deg);
}

.holder4 {
  position: absolute;
  width: 180.28px;
  height: 270.6px;
  left: 250.27px;
  top: 2450.23px;
  transform: rotate(1.4deg);
}

.holder5 {
  position: absolute;
  width: 308px;
  height: 200px;
  left: -93px;
  top: 3300px;
}

.holder6 {
  position: absolute;
  width: 191.29px;
  height: 377.04px;
  left: 240.22px;
  top: 4050px;
}

.social-medias {
  margin-top: 150px;
  width: 327px;
  height: 200px;
  padding-top: 60px;
  border-top: 1px solid #646369;
}

.foot {
  display: flex;
  align-items: center;
  margin-left: 45px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ebebff;
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  gap: 24px;
  margin-top: 70px;
}

.contact-form h4{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #7d73fc;
  margin-bottom: 20px
}

.contact-form p{
  width: 90%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
  text-align: center;
  margin-bottom: 40px;
}

.forms{
  width: 345px;
}

form div {
  padding: 10px;
  width: 365px;
  margin-left: -10px;
}

input + label {
  display: inline-block;
  margin-right: 10px;
}

input[type=text],
input[type=email],
textarea {
  border: 1px solid #999;
  padding: 15px;
  width: 100%;
  color: #191765;
  margin-right: -2px;
}

input[type=name] {
  width: 100%;
  padding: 15px;
}

#special-x{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  background: #7d73fc;
  margin-top: 70px;
  margin-left: 130px;
}

.san-1 {
  display: none;
}
h5 {
  display: none;
}

@media only screen and (min-width: 721px) {
h1 {
width: 1156px;
height: 96px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 105px;
text-align: center;
color: #9391ff;
}

nav svg{
  display: none;
}

h2 {
width: 1156px;
height: 72px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-align: center;
color: #dfe1e6;
}

.support p{
width: 720px;
height: 155px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
text-align: center;
color: #b3bac5;
margin-left: 200px;
}

.frame {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 50px;
width: 720px;
height: 167.67px;
margin-left: 200px;
padding-bottom: 50px;
padding-left: 50px;
}

.skills {
  display: inline;
  margin-left: 60px;
  margin-top: -3px;
}

.social-media {
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
width: 300px;
height: 40px;
border-radius: 8px;
margin-left: 400px;
margin-top: 40px;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.vertical p {
width: 46px;
height: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
text-align: center;
color: #b3bac5;
margin-left: 670px;
margin-top: -35px;
}

.fresh p{
width: 46px;
height: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
text-align: center;
color: #b3bac5;
margin-left: -340px;
margin-top: -50px;
display: flex;
flex-direction: row;
}
#huzo{
  margin-left: 635px;
  margin-top: -36px;
}

#yahuzo{
  margin-left: -290px;
  
}

.recent_work {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: none;
  margin-left: -90px;
}

.recently {
  display: flex;
}

.todo {
  margin-left: -750px;
}

.stories {
  width: 280px;
  height: 150px;
  margin-left: 550px;
  margin-top: -320px;
}

.stories h3 {
  margin-bottom: -20px;
}

.Tags ul li:nth-child(1) {
  position: absolute;
  margin-left: 500px;
  margin-top: 90px;
}

#special-c {
  position: absolute;
  margin-left: 500px;
  margin-top: 120px;
}

.Tags ul li:nth-child(2) {
  position: absolute;
  margin-left: 580px;
  margin-top: 90px;
}

.Tags ul li:nth-child(3) {
  position: absolute;
  margin-left: 660px;
  margin-top: 90px;
}

.Tags ul li:nth-child(4) {
  position: absolute;
  margin-left: 730px;
  margin-top: 100px;
}

h4 {
  display: none;
}

h5 {
display: flex;
width: 1156px;
height: 72px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-align: center;
color: #DFE1E6;
}

}